
$mainColor: #008080;
$gray:#888A94;
$lightgray : rgb(231, 227, 227);
$color2:$mainColor;
$color1:#B61854;
$color2:  #008080;
$color3: #C75982;
$color4: #000000;
$color6: rgba(144, 12, 62, 0.3);
$color5: rgba(0, 0, 0, 0.65);
$borderColor: rgba(0, 0, 0, 0.08);
$borderColor2:#F0F0F4;
$darkColor:#595959;

$fontFamily: 'Montserrat', sans-serif; // Medium
$secondFamily: "Lustria"; // Medium

$lightblue: #CFE2FF;
$blue: #0D6EFD;
$lightgreen: #D1E7DD;
$green: green;
$lightyellow : #FFF3CD;
$yellow: #FFC107;
$lightMainColor: rgba(182, 24, 84, 0.4);

$boxShadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
// $boxShadow2:rgba(0, 0, 0, 0.08) 0px 4px 12px;
$boxShadow2:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.00) 0px 0px 0px 1px;
$boxShadow3:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.00) 0px 0px 0px 1px;
$letterSpacing: 0.175rem;
$wordSpacing: 0.10rem;
$textTranform: uppercase;

$padding: 13px 100px;
$padding2:13px 45px;
$largeScreen : 1025px;
$mediumScreen : 601px,1024px;
$smallScreen : 0px,600px;

$largeScreenTitleFontSize :3.4rem;
$smallScreenTitleFontSize: 3.5vmax;
$mediumScreenTitleFontSize:4.5vmax;

$largeScreenTextSize : 1.5rem;
$smallScreenTextSize: 1.5vmax;
$mediumScreenTextSize:2vmax;

$largeScreenArticleTitleSize:2rem;
$smallScreenArticleTitleSize:2rem;
$mediumScreenArticleTitleSize:1.5rem;

$largeScreenArticleSubTitleSize:1.2rem;
$mediumScreenArticleSubTitleSize:1rem;
$smallScreenArticleSubTitleSize:1rem;

$largeScreenArticleTextSize:1.5rem;
$mediumScreenArticleTextSize:1rem;
$smallScreenArticleTextSize:1.2rem;

@mixin centerHV(){
    display: flex;
    justify-content: center;
    align-items: center;
}


.input {


    p {
        text-transform: $textTranform;
        letter-spacing: $letterSpacing;
        font-size: 1.3rem;
        color: $color5;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    input,
    select,
    textarea {
        width: 100%;
        outline: none;
        border: none;
        border: 1px solid $borderColor;
        padding: 0.8rem 1.5rem;
        font-size: 1.5rem;
        text-transform: none;
        letter-spacing: 0;
    }

    .input_with_icon {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translateY(-50%);
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        input {
            padding-right: 4rem;
        }
    }

    margin-bottom: 2rem;
}

.input_checkbox {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0;
    margin: 3rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;

    span {
        font-size: 1.3rem;
    }
}


