
$mainColor: #ee443a;
$gray:#888A94;

$largeScreen : 1025px;
$mediumScreen : 601px,1024px;
$smallScreen : 0px,600px;

$largeScreenTitleFontSize :4.9rem;
$smallScreenTitleFontSize: 3.5vmax;
$mediumScreenTitleFontSize:4.5vmax;

$largeScreenTextSize : 2rem;
$smallScreenTextSize: 1.5vmax;
$mediumScreenTextSize:2vmax;

$largeScreenArticleTitleSize:2rem;
$smallScreenArticleTitleSize:2rem;
$mediumScreenArticleTitleSize:1.5rem;

$largeScreenArticleSubTitleSize:1.2rem;
$mediumScreenArticleSubTitleSize:1rem;
$smallScreenArticleSubTitleSize:1rem;

$largeScreenArticleTextSize:1.5rem;
$mediumScreenArticleTextSize:1rem;
$smallScreenArticleTextSize:1.2rem;
