.news_container{
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    // border:1px solid red;

    
    @media (min-width:0px) and (max-width:950px){
        padding:0;
    }

    .news_content{
        width:90%;
        // border:1px solid blue;
        @import './slide_news';

        @media (min-width:0px) and (max-width:1200px){
            width:100%;
        }
    }

   
}