@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/init/init";

@font-face {
    font-family: myfont;
    src: url("../public/fonts/DMSerifDisplay-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    // font-family: myfont;
}

.link {
    @apply mx-6 text-gray-400 border-b-2 border-dotted border-gray-400 hover:text-[#EE443A] transition ease-in-out delay-100;
}


// Navbar
@import "./css/_header.scss";
// Hero Section CSS
@import "./css/hero";
// Read Now Page
@import './css/readnow';
// Loading
@import './css/loading';
